<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoffeeShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CoffeeShop.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="Admin" asp-page="/Index">CoffeeShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-page="/Chats/Index">Chat Room</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-page="/Tables/Index">Table Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-page="/User/Index">User Management</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        @if (string.IsNullOrEmpty(Context.Session.GetString("IsLogin")))
                        {
                            <li class="nav-item">
                                <a class="btn btn-outline-dark me-2" asp-area="Shared" asp-page="/Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-secondary" asp-area="Shared" asp-page="/Register">Register</a>
                            </li>
                        }
                        else
                        {
                            <form method="post">
                                <li>
                                    <button 
                                        class="btn btn-outline-danger" 
                                        asp-area="Shared" 
                                        asp-page="/Login" 
                                        asp-page-handler="Logout"
                                    >Logout</button></li>
                            </form>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-page="/Size/Index">Size Management</a>
                        </li>                                       
                        <li class="nav-item">                       
                            <a class="nav-link text-dark" asp-area="Admin" asp-page="/Category/Index">Category Management</a>
                        </li>                                       
                        <li class="nav-item">                       
                            <a class="nav-link text-dark" asp-area="Admin" asp-page="/Product/Index">Product Management</a>
                        </li>                                      
                        <li class="nav-item">                       
                            <a class="nav-link text-dark" asp-area="Admin" asp-page="/Menu/Index">Menu Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Shared" asp-page="/Order/OrderPage" asp-route-id="0">Order</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CoffeeShop - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>